<form name="addBookForm" ng-submit="addBook(book)" novalidate>
  <div class="row">
    <div class="col-md-3 col-md-offset-1 text-center">
      <img src="app/views/Captura.PNG" />
    </div>
    <div class="col-md-7">
      <fieldset class="form-group">
        <label for="title">Titulo</label>
        <input class="form-control" type="text" id="title" name="title" ng-model="book.title">
      </fieldset>
      <fieldset class="form-group">
        <label for="author">Autor</label>
        <input class="form-control" type="text" id="author" name="author" ng-model="book.author">
      </fieldset>
      <fieldset class="form-group">
        <label for="publisher">Editorial</label>
        <input class="form-control" type="text" id="publisher" name="publisher" ng-model="book.publisher">
      </fieldset>
      <fieldset class="form-group">
        <label for="releaseDate">Fecha publicacion</label>
        <div class="input-group date">
          <input class="datepicker form-control" ng-model="book.releaseDate">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <fieldset class="form-group">
        <label for="description">Descripcion</label>
        <input class="form-control" type="textarea" id="description" name="description" ng-model="book.description">
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3  col-md-offset-1">
      <fieldset class="form-group">
        <label for="format">Formato</label>
        <select ng-model="book.format.id" ng-options="val.id as val.format for val in bookFormat">
          <option value="">Seleccionar</option>
        </select>
      </fieldset>
    </div>
    <div class="col-md-3">
      <fieldset class="form-group">
        <label for="rate">Calificacion</label>
        <select ng-model="book.rate" ng-options="val.id as val.value for val in bookRate">
          <option value="">Seleccionar</option>
        </select>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <label for="readingsDate">Fechas de lectura</label>
      <div ng-repeat="date in book.readingDates track by $index">
        {{date | date:"MMMM yyyy"}} <a ng-href="" ng-click="removeReadDate(book, date)"><i class="glyphicon glyphicon-remove" title="Borrar"></i></a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group date">
        <input class="datepicker form-control" id="readingDateToAdd" ng-model="readingDateToAdd">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
      </div>
          <input type="button" ng-click="addReadDate(book,readingDateToAdd)" class="btn btn-default btn-search" value="Agregar fecha"></input>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11  col-md-offset-1">
      <button type="submit" class="btn btn-default btn-search">Guardar</button>
    </div>
  </div>
</form>
