<div class="row separator">
  <div class="col-md-8 col-md-offset-2">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <input class="form-control" type="text" id="search" name="search" ng-model="search.title"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Categorias
  </div>
  <div class="col-md-8">
    <div ng-repeat="book in books | orderBy: 'title' | filter : search">
      <tn-book-card book="book"></tn-book-card>
    </div>
  </div>
</div>
