<div class="row">
  <div class="col-md-3 col-md-offset-1 text-center">
    <img src="app/views/Captura.PNG" />
  </div>
  <div class="col-md-7">
    <fieldset class="form-group">
      {{book.title}}
    </fieldset>
    <fieldset class="form-group">
      {{book.author}}
    </fieldset>
    <fieldset class="form-group">
      {{book.publisher}}
    </fieldset>
    <fieldset class="form-group">
      {{book.releaseDate}}
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <fieldset class="form-group">
      {{book.description}}
    </fieldset>
  </div>
</div>
