.bookCard:hover .glyphicon {
  /*display: inline-block;*/
}

.bookCard .glyphicon{
  /*display: none;*/
}
.well {
  background-image: none;
  background-color: transparent;
  border: 2px solid #26A65B;
  border-radius: 5px;
}

.well h4 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.separator {
  margin-top: 15px;
  margin-bottom: 20px
}

i {
  cursor: pointer;
}

a, a:hover, a:active {
  cursor: pointer;
  color: #26a69b;
  text-decoration: none;
}

.actions i {
  margin-top: 11px;
  margin-bottom: 3px;
}
.navbar-default .navbar-nav > li > a {
    color: #b6eecd;
    line-height: 75px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #176638;
}
.navbar-default{
  background-image: none;
  background-color: #26A65B;
  min-height: 100px;
}

.navbar-brand a {
  font-size: 50px;
  color: #b6eecd;
  line-height: 125%;
}

.navbar-brand a:hover {
  text-decoration: none;
  color: #176638;
}

#toTop{
	position: fixed;
	bottom: 40px;
	right: 40px;
  height: 50px;
  width: 50px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}

#toTop.btn.btn-info {
  background-image: none;
  background-color: #26A65B;
  border-color: #b6eecd;
  opacity: 0.8;
}
#toTop.btn.btn-info:hover {
  opacity: 1.0;
}
#toTop i {
	line-height: 2.5;
}

.bookDescription {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-search {
    background-image: none;
    background-color: #26A65B;
    color: #b6eecd;
    border-color: #26A65B;
}
.btn-search:hover {
    background-image: none;
    background-color: #186839;
    color: #b6eecd;
    border-color: #186839;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #26A65B;
    border-color: #26A65B;
    color: #b6eecd;
}
